.container {
  display: flex;
}

aside {
  float: left;
}

#title-header {
  align-items: center;
}

#city-search {
  border-width: 1px;
  border-style: solid;
  border-color: blue;
  padding: 25px;
}

.city-btn {
  margin: 10px;
}

#current-city-date {
  display: inline;
}

#day-one {
  padding: 5px;
  margin: 50px;
}
